<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}" ></th:block>
</head>
<body>
<header >
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <th:block th:include="~{/fragments/nav}" ></th:block>
    </nav>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Details</span></h1>
    <hr class="my-3"/>
    <div class="container-fluid offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offers row mx-auto d-flex flex-row justify-content-center ">
            <div th:object="${vacation}" class="card" style="width: 24rem;">
                <div class="card-body bg-black text-dark align-content-center text-center">
                    <h6 th:text="|Userame - *{username}|">Username</h6>
                    <h6 th:text="|Vacation Start Date - *{startDate}|">Start Date</h6>
                    <h6 th:text="|Vacation End Date - *{endDate}|">End Date</h6>

                    <form class="form w-25 mx-auto" th:action="@{/vacations/edit-vacation}" th:method="POST"><input type="hidden"
                                                                                                               name="_csrf"
                                                                                                               value="80417983-fe8b-45c7-963e-31f6915a1560">

                        <div class="form w-25 mx-auto">
<!--                            <label for="start">Vacation</label>-->
<!--                            <br>-->
                            <div class="form-group text-left text-dark">
                                <label for="username" class="mb-1">Logged Username</label>
                                <input type="text" th:value="${session.user.username}"  name="username" id="username"
                                       readonly>
                            </div>


                            <br>
                            <label for="start">New start date:</label>
                            <input type="date"  id="start" name="startDate" min="2021-01-01" max="2022-12-31">
                            <br>
                            <label for="end">New end date:</label>
                            <input type="date" id="end" name="endDate" min="2021-01-01" max="2022-12-31">

                        </div>

                        <hr class="hr-2 bg-dark">
                        <div class="button-holder d-flex justify-content-center">
                            <button type="submit" class="btn btn-dark">Edit</button>
                        </div>
                    </form>

                    <a th:href="@{/vacations/delete/{id}(id = *{id})}" class="btn btn-danger" >Delete</a>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
